.Footer {
    .footerCol {
        font-size: 18px;
        // padding-left: 40px;
    }

    .fotterMargin {
        margin: 20px 0 20px;

        .fotterMarginH1 {
            font-size: 28px;
            font-weight: bold;
        }
    }
}